
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="../images/logo.jpeg">
    <title>seventeen</title>
    
    <link rel="stylesheet" href="../style/font-awsome2.css">
    <link rel="stylesheet" href="../style/font-awsome.css">
    <link rel="stylesheet" href="../style/mdb.css">
    <link rel="stylesheet" href="../style/index.css">
    <script src="java/index.js"></script>
