  <!-- nav bar -->
  <div class="text-center bg-black vh-100 w-100 position-fixed " id="preloading" style="z-index: 10000000;">
    <div>
      <img src="../images/logo.jpeg" alt="Loading" class="loader" width="150" height="150" style="margin-top: 300px;">
    </div>
  </div>
  