<div class="sidebar2 bg-white p-20 p-relative">
    <h3 class="p-relative txt-c mt-0"><a href="/">17</a></h3>
    <ul>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/admin/admin_dashboard">
          <i class='bx bxs-dashboard'></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/admin/view_product">
          <i class='bx bx-box'></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/admin/admin_orders">
          <i class='bx bxs-user'></i>
          <span>orders</span>
        </a>
      </li>
    </ul>
  </div>