
<div class="collapse " id="navbarToggleExternalContent" >
    <div class="bg-black p-4">
      <h5 class="text-white h4"></h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
<nav class="navbar navbar-dark bg-black top-navbar sticky-top " >
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center w-100">
      <!-- Button on the left -->
      <button
      data-mdb-collapse-init
      class="navbar-toggler "
      type="button"
      data-mdb-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      
    >
      <i class="fas fa-bars"></i>
    </button>

      <!-- Image in the middle -->
      <div class="text-center">
        <a href="/"><img src="../images/logo.jpeg" alt="" class="img-fluid img"></a>
      </div>

      <!-- Buttons on the right -->
      <div class="d-flex justify-content-end">
        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff; margin-right: 20px;"></i>
        <a href="/cart" style="color: #ffffff; margin-right: 40px ; margin-bottom: 8px;">
          <i class="fas fa-cart-shopping"></i>
          <span class="badge rounded-pill badge-notification bg-danger" > <%= cart_counter %>+</span>
        </a>
      </div>
    </div>
  </div>
</nav>
