*
{
    font-family: "Karla", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.loader-container {
  align-items: center;
  text-align: center;
  display: block;
  z-index: 100000000000;
  background-color: black;
  height: 100%;
  width: 100%;
}

.loader {
 
  font-size: 50px;
  color: #333;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.top-navbar
{
    width: 100%;
    height: 140px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black; /* Change arrow color to white */
  background-color: transparent;

}

.img
{
    width: 80px;
}

.copyrights
{
  font-size: small;
  font-weight:  bold;

}