<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Custom styles -->
    <style>
        body {
            background-color: #f8f9fa;
        }
        .error-container {
            margin-top: 100px;
        }
        .animated {
            animation-duration: 1s;
        }
        .fadeInUp {
            animation-name: fadeInUp;
        }
    </style>
<link rel="stylesheet" href="style/index.css">
</head>
<body style="background-color: black;">
    <div class="container">
        <div class="row error-container justify-content-center">
            <div class="col-md-6 text-center animated fadeInUp">
                <img src="../images/logo.jpeg" alt="404" class="img-fluid mb-4 loader" width="200" height="200">
                <h1 class="display-4 animated fadeInUp text-light">Error 404</h1>
                <p class="lead animated fadeInUp text-light">The page you're looking for could not be found.</p>
                <a href="/" class="btn btn-outline-light btn-lg animated fadeInUp mb-5">Go Back to Home</a>
            </div>
        </div>
    </div>
    <!-- MDB JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.js"></script>
</body>
</html>
