<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/style/Style.css">
<link rel="stylesheet" href="/style/profile.css">
<link rel="stylesheet" href="/style/framework.css">
<link rel="stylesheet" href="/style/master.css">
  <!-- <script defer src="/public/Java/addscript.js"></script> -->
  <style>
    .err {
    color: red;
    font-size: smaller;
}
  </style>
  <script>
    function validatename(field){
    if(field==' '){
        document.getElementById('nameErr').innerHTML="You Must Enter Name";
   return false;
        }
      else{
					document.getElementById('nameErr').innerHTML='';
					return true;
				}
      }

function validprice(field){
    if(field==' '){
        document.getElementById('priceErr').innerHTML="You Must Enter price";
   return false;
      
  }else if (field == 0){
    document.getElementById('priceErr').innerHTML="You Must Enter price Greater Than 0";
   return false;
  }
  else{
					document.getElementById('priceErr').innerHTML='';
					return true;
				}
}
function validcat(field){
    if(field==' '){
        document.getElementById('catErr').innerHTML="You Must Enter  Category";
   return false;
      }else{
					document.getElementById('catErr').innerHTML='';
					return true;
				}
}
function validdes(field){
    if(field==' '){
        document.getElementById('desErr').innerHTML="You Must Enter Description";
   return false;
      }else if (field.length <10){
        document.getElementById('desErr').innerHTML="You Must Enter Description greater than 10";
   return false;
      }
      else{
					document.getElementById('desErr').innerHTML='';
					return true;
				}
}
function validate(form){
				let fail='';
				fail&= validatename(form.name.value);
				fail&= validprice(form.price.value);
				fail&=  validcat(form.category.value)
        fail&= validdes(form.dedescription. value)
				if(fail)
					return true;
				else{
					return false;
				}
			}
  </script>
</head>

<body>
  <div class="page d-flex">
    <%- include("../partials/sidebar_admin.ejs") %>
      <div class="content w-full p-5">

          <!-- End Head -->
          <h1 class="p-relative">17 Products</h1>
          <div class="btn-group d-flex justify-content-center  col-12 mb-5" role="group"
            aria-label="Basic outlined example">
            <a type="button" class="btn btn-dark active" href="/admin/add_product">Add product</a>
            <a type="button" class="btn btn-dark " href="/admin/view_product">View Product</a>
          </div>
          <div class="row m-2 justify-content-center">
            <form action="/admin/add_product" method="post" enctype="multipart/form-data" onsubmit="return validate(this)" >
              <div class="form-group">
                <label for="pname">Name:</label>
                <input type="text" class="form-control" id="pname" name="pname"  >
                 <div id="nameErr" class="err"> </div>
              </div>
              <div class="form-group">
                <label for="Price">Price:</label>
                <input type="number" step=".01" class="form-control" id="Price" name="Price"  >
                <div id="priceErr" class="err"> </div>
              </div>
              <div class="form-group">
                <label for="category">Catergory:</label>
                <input class="form-control" id="category" name="category" rows="3"  ></input>
                <div id="catErr" class="err"> </div>
              </div>
              <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" id="Description" name="Description" rows="3"  ></textarea>
                <div id="desErr" class="err"> </div>
              </div>
              <label for="sale">sale(optional):</label>
              <input class="form-control" id="sale" name="sale" rows="3"  value="0"></input>
              <div id="desErr" class="err"> </div>
              </div>
              <div class="form-group mt-5 ms-2">
                <label for="images">Images:</label>
                <input type="file" id="images" name="images" multiple required><br><br>            
              </div>
              <button type="submit" class="btn btn-dark mt-5 w-100">Add</button>
            </form>
          </div>
      </div>
  </div>
  </div>
</body>

<script>
document.getElementById('images').addEventListener('change', function() {
  const files = this.files;
  if (files.length !== 3) {
    alert('Please select exactly three images.');
    this.value = ''; // Clear the input field
  }
});
</script>


</html>