<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/style/Style.css">
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="stylesheet" href="/style/framework.css">
    <link rel="stylesheet" href="/style/master.css">
</head>

<style>
    body {
        margin: 0;
        padding: 0;
    }
    .table_econatiner {
        max-height: 200px; /* Set the maximum height of the table container */
    overflow-y: auto;
    }
        table {
            overflow: visible !important;
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</style>

<body>

            <div class="page d-flex">
                <%- include("../partials/sidebar_admin.ejs") %>

                    <div class="content w-full p-5">

                 <h2>Order Information</h2>
                 <div class="table-container">
                <table>
                <thead>
                <tr>
                <th>product name</th>
                <th>Price</th>
                <th>size</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <!-- Sample data, replace with actual data from your database -->

            <% order.items.forEach((product)=> { %>
                <%- include('../partials/view_order_card', { product: product }) %>
                <% }); %>
            <!-- Add more rows as needed -->
        </tbody>
    </table>

    </div>
    </div>
    </div>


</body>

</html>