<!DOCTYPE html>
<html lang="en">
<head>  
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body class="bg-black  " style="overflow: hidden;">
  <%- include('../partials/loader.ejs') %>
    <%- include('../partials/top-nav.ejs') %>


    <div class="position-relative">
      <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
          <div class="carousel-inner">
              <div class="carousel-item active" data-mdb-interval="10000">
                  <img src="../images/DSCN3116.png" class="d-block w-100" alt="Wild Landscape">
              </div>
              <div class="carousel-item" data-mdb-interval="2000">
                  <img src="../images/DSCN3058.png" class="d-block w-100" alt="Camera">
              </div>
              <div class="carousel-item">
                  <img src="../images/DSCN3099.png" class="d-block w-100" alt="Exotic Fruits">
              </div>
          </div>
          <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
      <div class="position-absolute top-50 start-50 translate-middle" data-mdb-carousel-init>
          <a href="/search" class="btn btn-outline-light btn-lg text-white" data-aos="fade-up">Shop Now</a>
      </div>
  </div>
  
      
      <hr class="hr bg-dark"  style="height: 0.1px; margin-bottom: 3px;"/>
      
      <div class="container products p-3 p-lg-5 mt-5"  >
        <h4 class="text-light mb-4 mt-2" data-aos="fade-up">Featured products</h4>
        <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4"  data-aos="fade-up">

           <% let x = 0; %>
          <% for(let i = 0 ; i < product_client.length; i++ ){ %>
            
            <%- include("../partials/product-card.ejs", {product: product_client[i], x:x }) %>
            <% x = x + 3 %>
          <% } %>
        </div>
      </div>



      <hr class="hr bg-dark"  style="height: 0.1px; margin-bottom: 3px;"/>
      
      <script src="java/aos.js"></script>
      <script>
      AOS.init({
        duration: 2000,
                   });
    </script>
    
    <!-- MDB -->
    <script src="java/mdb.js"></script>


</body>
</html>