<!-- views/search.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body style="background-color: black;">

    <%- include('../partials/loader.ejs') %>
    <%- include('../partials/top-nav.ejs') %>
    <h1 class="text-center mt-5">Product Search</h1>
    <form class="mt-2 d-flex justify-content-center p-5" action="/search" method="post">
        <input class="form-control me-2" type="text" name="query" placeholder="Search products...">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <hr class="mt-5">

    <div class="container">
        <% if(product_search.length == 0 )
        {%>
              <h1 class="text-center text-danger mt-5 mb-4">Not Found</h1>
        <%}else{ %>
               <h4 class="text-center mt-5 mb-4">ALL products</h4>
        <%}%>
      <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        <% let x = 0; %>
        <% for(let i = 0 ; i < product_search.length; i++ ){ %>
          <%- include("../partials/product-card.ejs", {product: product_search[i] ,  x:x}) %>
          <% x = x + 3 %>
            <%}%>
      </div>
    </div>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init({
      duration: 2000,
                 });
  </script>
    <!-- MDB JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</body>
</html>
